@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display:ital@1&family=Poppins:wght@300;500&display=swap');

ion-content{ 
    --ion-background-color: linear-gradient( #64DFDF, #48BFE3, #5390D9, #5E60CE);
}
ion-card-title{
    font-family: 'Poppins', sans-serif;
}
h2{
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  padding: 8vh 0 2rem;
  text-shadow: 1px 2px 5px #6062b7a4;
  padding-bottom: 0px;
}
#map{
  font-family: 'Poppins', sans-serif;
  width: 95%;
  height: 30vh;
  border: solid 1px rgb(0, 0, 0);
  background-color: #4e68ab6a;
  border-radius: 7px;
  margin: 1vh;
}
.ion-icon-favorite-driver{
  color: #f6ff00;
  font-size: 16px;
  margin-left: 40px;
}
.whatsapp-logo{
  color: #44fb3b;
}
.pedir-viaje-logo{
  color: #fe9f00;
}
.no-viajes-creados{
  width: 100%;
  text-align: center;
}
.no-viajes-creados > a{
  display: flex;
  justify-content: center;
  height: 4vh;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 2px 5px #6062b7a4;
  text-align: center;
  font-size: .92rem;
  max-width: 100%;
  width: 100%;
  padding-left: 1vw;
  padding-top: 5vh;
}
.no-viajes-creados > p{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-end;
  height: 25vh;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1.6rem;
  text-shadow: 1px 2px 5px #6062b7a4;
  padding-bottom: 0px;
}
.no-viajes-gif{
  display: block; /* Hace que la imagen sea un bloque para centrarla */
  margin: 0 auto;
  border-radius: 50%;
}
ion-card-content{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 5px 0 0 15px;
}
ion-card{
    margin-bottom: 1vh;
    border: solid 3px rgb(129, 139, 247);
}
ion-buttons{
    display: flex;
    justify-content: space-around;
}
ion-button{
    border-radius: 5px;
    color: #48BFE3;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}
ion-button:hover{
    background-color: #31446c
}
ion-tabs{//puede que haya que modificar esto. El ion tab se posiciona sobre los botones, haciendolos inutiles.
  position: fixed;
}
ion-col{
  padding-top: 50px;
}
// Animación de la disponibilidad
.disponibilidad {
    animation-name: growAndShrink;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; /* Hace que la animación se repita en ambas direcciones (crecimiento y decrecimiento) */
  }
  
    @keyframes growAndShrink {
      0% {
        font-weight: 800;
        transform: scaleX(1) scaleY(1);
        color: #00affd;
      }
      25% {
        font-weight: 800;
        transform: scaleX(1) scaleY(1.25);
        color: #00affd;
      }
      50% {
        font-weight: 800;
        transform: scaleX(1) scaleY(1.25);
        color: #00affd;
      }
      75% {
        font-weight: 800;
        transform: scaleX(1) scaleY(1.25);
        color: #00affd;
      }
      100% {
        font-weight: 800;
        transform: scaleX(1) scaleY(1);
        color: #00affd;
      }
  }