

<ion-content [fullscreen]="true">
  
    <div class="sub-menu">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Incio
        </ion-tab-button>
        <ion-tab-button tab="wallet">
          <ion-icon name="wallet"></ion-icon>
          Billetera
        </ion-tab-button>
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          Recorrido
        </ion-tab-button>
        <ion-tab-button tab="person-circle-outline">
          <ion-icon name="person-circle-outline"></ion-icon>
          Perfil
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </div>
  
</ion-content>
